<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!-- JSP mappings are placed here. Servlet mappings are configured using annotations -->
    <servlet>
        <servlet-name>userPanelJsp</servlet-name>
        <jsp-file>/WEB-INF/pages/userPanel.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userPanelJsp</servlet-name>
        <url-pattern>/userPanel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signInJsp</servlet-name>
        <jsp-file>/WEB-INF/pages/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signInJsp</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
</web-app>